.important-msg {
  text-align: center;
  background-color: #ff6347
}
.icon {
  width: 24px;
  height: 24px;
}

.aergie-header {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #7393B3;
  opacity: 0.9;
  border-radius: 6px;
  padding: 1em 1em 1em;
  margin-bottom: 3rem;
  font-weight: 200;
  font-size: 120%;
}

.aergie-header:hover {
  opacity: 1.0;
  font-weight: 250;
}